<p-tabMenu [model]="tabs">
</p-tabMenu>

<!--<ng-content select="footer"></ng-content>-->

<!--<div [innerContent]="[-->
      <!--'Go to <a [routerLink]=&quot;[Home]&quot;>Home page</a>',-->
<!--['RouterLink']-->
<!--]"></div>-->

<!--<button (click)="add()">Add</button>-->

<!--<p-tabView>-->
  <!--<p-tabPanel header="Header 1" [badge]="6">-->
    <!--Content 1-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Header 2">-->
    <!--Content 2-->
  <!--</p-tabPanel>-->
  <!--<p-tabPanel header="Header 3">-->
    <!--Content 3-->
  <!--</p-tabPanel>-->
<!--</p-tabView>-->